body {
    font-family: Arial, sans-serif;
      background: linear-gradient(to right, #000000, #da2d02);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.cadastro-container {
    background: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
}

.cadastro-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.cadastro-container form {
    display: flex;
    flex-direction: column;
}

.cadastro-container label {
    margin-bottom: 5px;
    color: #555;
}

.cadastro-container input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cadastro-container button {
    padding: 12px;
    background-color: #992509;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

.cadastro-container button:hover {
    background-color: #943c21;
}

.cadastro-container p {
    text-align: center;
    margin-top: 15px;
}

.cadastro-container a {
    color: #007BFF;
    text-decoration: none;
}

.cadastro-container a:hover {
    text-decoration: underline;
}

.logo {
    display: block;           /* Faz a logo se comportar como bloco */
    margin: 0 auto 20px auto; /* Centraliza horizontalmente e adiciona espaço embaixo */
    width: 120px;             /* Largura da logo */
    height: auto;             /* Mantém a proporção original */
    border-radius: 50%;       /* Opcional: deixa a logo circular */
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); /* Opcional: sombra sutil */
    transition: transform 0.3s; /* Para animação de hover */
}

.logo:hover {
    transform: scale(1.05);   /* Leve efeito de zoom ao passar o mouse */
}
